
<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script  src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
    <script src="http://vjs.zencdn.net/7.8.4/video.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-youtube/2.6.1/Youtube.min.js"></script>
    <script>

      function getVideoViews(videoID){
        $.ajax({
          url: '/API/videos/'+videoID+'/',
          type: "GET",
          dataType: "json",
          success: function (data) {
            console.log(data)
            $("#nviews"+videoID).html(data['views'])
            console.log("update the number of views on the table for"+videoID)
          },
        })
      }
      function updateVideostable(){
        $.ajax({
          url: '/API/videos/',
          type: "GET",
          dataType: "json",
          success: function (data) {
            console.log(data);
            $('#videosTable > tbody:last-child').empty()
            data["videos"].forEach(v => {
                console.log(v["video_id"]+" "+v["description"])
                var my_id = v["video_id"]
                var my_url = "{{ url_for('regular.video_page') }}/#id#".replace('#id#', my_id)
                $('#videosTable > tbody:last-child').
                    append('<tr> <td class="selectable"><a href="#url#"'.
                      replace("#url#", my_url)+'>'+ v["video_id"]+'</a></td><td>' +v["description"] + '</td><td id="nviews'+v["video_id"]+'">xxx</td></tr>');
                  getVideoViews(v["video_id"])
            });
          }
        });
      }
      function addNewVideo(url, description){
        // look at the server to understand what data should be sent.
        let requestData={"description": description, 'url': url}
        $.ajax({
            url: '/API/videos/',
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(requestData),
            success: function(data){
              console.log("response for video creation "+data)
              console.log(data)
              updateVideostable()
            }
        });
      }
      $(document).ready(function(){
        updateVideostable()
        $("#buttonUpdateVideotable").click(
          // to update the table when clicked
          function(){
            updateVideostable()
          }
        )            
        
        $("#buttonAddVideo").click(function(){
          newVideoURl = $("#newVideoURL").val()
          newVideoDESC = $("#newVideoDescription").val()
          addNewVideo(newVideoURl, newVideoDESC)
        })

      });
  </script>

  </head>
  <body>
    <h3>List of videos</h3>
    <table class="ui celled table selectable" id="videosTable" >
      <thead>
        <tr>
          <th>ID</th>  <th>Description</th>   <th>Views</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <button class="ui button" id="buttonUpdateVideotable">
      Update List
    </button>

    <h3>Add a new Video</h3>
    <div class="ui input">
        <input type="text" placeholder="Video URL" id="newVideoURL" required>
    </div>
    <div class="ui input">
      <input type="text" placeholder="Video Description" id="newVideoDescription">
    </div>
    <button class="ui button" id="buttonAddVideo">
      Add new Video
    </button>
  </body>

  <title>{% block title %}{% endblock %} - Flask</title>





</html>