


<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script  src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
    <script src="http://vjs.zencdn.net/7.8.4/video.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-youtube/2.6.1/Youtube.min.js"></script>
    
    

    <script>
            
      function printVideoDescription(){          
        var videoID = '{{videoID}}'
        $.ajax({
          url: '/API/videos/'+videoID+'/',
          type: "GET",
          dataType: "json",
          success: function (data) {
            console.log(data);
            var div = document.getElementById('description_hd');              
            description_header = "<h1>"+data['description']+"</h1>"
            div.innerHTML += description_header
          }
        })
      }  
      
      function getVideo(vPlayer){
        var videoID = '{{videoID}}'
        $.ajax({            
          // retrieve the corresponding URL by 
          // calling the /videos/<id>/ REST endpoint)
          url: '/API/videos/'+videoID+'/',
          type: "GET",
          dataType: "json",
          success: function (data) {
            console.log(data)
            url = data['url']
            console.log(url)
            //TODO 8 - update the player with the url retrieved
            vPlayer.src({ "type": "video/youtube", "src": url});
            vPlayer.play()
            
            $.ajax({
              //TODO 9 - increase the number of views
              url: '/API/videos/'+videoID+'/views',
              type: "PUT",
              dataType: "json",
              success: function (data) {
                console.log(data)
              }
            })                          
          }
        });
      }

      function updateQuestionstable(){
        $.ajax({
            url: '/API/questions/',
            type: "GET",
            dataType: "json",
            success: function (data) {
                console.log(data);
                $('#questionsTable > tbody:last-child').empty()
                data["questions"].forEach(q => {
                  console.log(q["time"]+" "+q["question"])
                    $('#questionsTable > tbody:last-child').
                        append('<tr><td>'+ q["time"]+'</td><td>' +q["question"] + '</td></tr>');
                });
            }
        });
      }

      function addNewQuestion(question, time){
        let requestData={"question": question, "time": time}
        $.ajax({
            url: '/API/questions/',
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(requestData),
            success: function(data){
              console.log("response for question creation"+data)
              console.log(data)
              updateQuestionstable()
            }
        });        
      }
      
      $(document).ready(function(){
        
        var vPlayer = videojs('videoPlayer');    
        console.log('hereee')
        printVideoDescription(); // print video header
        updateQuestionstable(); // update questions table 
        getVideo(vPlayer); // get the video and play it
       
        $("#newQuestionForm").hide();    // by default the page hides the new question form       

        // when the video is paused
        vPlayer.on("pause", function () {
          // to show new question form
          $("#newQuestionForm")[0].reset(); // reset previous values
          $("#newQuestionForm").show(); 

          // to play the video with button with id buttonPlayVideo
          $("#buttonPlayVideo").click(function(){        
            vPlayer.currentTime( parseFloat($("#resumetime").val()))
            vPlayer.play()
          })
        });

        // when the video is playing  
        vPlayer.on("play", function () {
          // to hide new question form
          $("#newQuestionForm").hide(); 

          // to pause the video with the button with id buttonVideoPause
          $("#buttonVideoPause").click(function(){
            vPlayer.pause()
            var pauseTime = vPlayer.currentTime()
            console.log(pauseTime)
            $("#resumetime").val(pauseTime)        
          })
        });

        // when a new question was added
        $("#buttonAddQuestion").click(function(){
          newQuestion = $("#newQuestion").val()
          newTime = $("#resumetime").val()
          addNewQuestion(newQuestion, newTime)
          
          // automatically resumes the video
          vPlayer.currentTime( parseFloat($("#resumetime").val()))
          vPlayer.play()
        })      

        // to pause the video with the button with id buttonVideoPause
        $("#buttonVideoPause").click(function(){
          vPlayer.pause()
          var pauseTime = vPlayer.currentTime()
          console.log(pauseTime)
          $("#resumetime").val(pauseTime)        
        })


      });

    </script>

  
  
  <body>
    <!-- V I D E O -->
    <br>
    <div id=description_hd></div>
    <br>
    <video  id="videoPlayer" controls 
            class="video-js vjs-default-skin"
            width="640"
            data-setup='{ "autoplay": true, "preload": "auto", "techOrder": ["youtube"], "sources": [{ "type": "video/youtube" }'
    ></video>
    <br>
    <button class="ui button" id="buttonPlayVideo">
      Play
    </button>
    <button class="ui button" id="buttonVideoPause">
     Pause
    </button> 
    <div class="ui input focus" >
      <input type="text" id="resumetime">
    </div>

    <!-- Q U E S T I O N S  &  A N S W E R S -->
    <h3>List of questions</h3>
    <table class="ui celled table selectable" id="questionsTable" >
      <thead>
        <tr>
          <th>Time</th>  <th>Question</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>


    <form id='newQuestionForm'>
      <h3>Add a new question</h3>

      <div class="ui input">
        <input type="text" placeholder="Question" id="newQuestion">
      </div>
      <!-- Note that type of button was added in order to prevent the page to reload -->
      <button class="ui button" id="buttonAddQuestion" type="button">
        Add new question
      </button>
    </form>

  </body>

</html>