<!-- -------------------------------------------------------------------------------------
#                   Architectures and Internet Systems Project 2020/2021
#
#                 Developed by Pedro Martin (87094) & Xavier Dias (87136)
-------------------------------------------------------------------------------------- -->

<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script  src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>    
    <script>

      // to get the number of questions (qandas) for each video
      function getVideoQandas(videoID){
        $.ajax({
          url: '/API/questions/'+videoID+'/',
          type: "GET",
          dataType: "json",
          success: function (data) {
            console.log(Object.keys(data['questions']).length)
            console.log(data['questions'])
            $("#nqandas"+videoID).html(Object.keys(data['questions']).length)
            console.log("update the number of qandas on the table for"+videoID)
          },
        })
      }

      // to update the video table filling it with every video available at the DB
      function updateVideostable(){
        $.ajax({
          url: '/API/videos/',
          type: "GET",
          dataType: "json",
          success: function (data) {
            console.log(data);
            $('#videosTable > tbody:last-child').empty()
            data["videos"].forEach(v => {
                console.log(v["video_id"]+" "+v["description"])
                var my_id = v["video_id"]
                var my_url = "{{ url_for('regular.video_page') }}/#id#".replace('#id#', my_id)
                $('#videosTable > tbody:last-child').
                    append('<tr> <td class="center aligned collapsing selectable"><a href="#url#"'.
                      replace("#url#", my_url)+'>'+ v["video_id"]+'</a></td><td class="center aligned selectable"><a href="#url#"'.
                      replace("#url#", my_url)+'>'+ v["description"]+'</a></td><td class=" center aligned collapsing" id="nqandas'+v["video_id"]+'"></td></tr>');
                  getVideoQandas(v["video_id"])
            });
          }
        });
      }

      // to add a new video to the videos DB
      function addNewVideo(url, description){
        // look at the server to understand what data should be sent.
        let requestData={"description": description, 'url': url}
        $.ajax({  
            url: '/API/videos/',
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(requestData),
            success: function(data){
              console.log("response for video creation "+data)
              console.log(data)
              updateVideostable()
            }
        });
         
        // increases the counting for the number of video submission of the user
        $.ajax({  
            url: '/API/users/'+'{{username}}'+'/videosRegistred/',
            type: "PUT",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(requestData),
            success: function(data){
              console.log("response for video creation "+data)
              console.log(data)
            }
        });
      }

      $(document).ready(function(){
        updateVideostable()

        // Updates video table by an users request
        $("#buttonUpdateVideotable").click(
          // to update the table when clicked
          function(){
            updateVideostable()
          }
        )            
        
        // to add a new video
        $("#buttonAddVideo").click(function(){
          newVideoURl = $("#newVideoURL").val()
          newVideoDESC = $("#newVideoDescription").val()

          // if there is input in the fields
          if (newVideoURl.trim()!="" & newVideoDESC.trim()!=""){
            addNewVideo(newVideoURl, newVideoDESC)
          }         
        });

        // to make sure the user is not sleeping while adding a new video
        $('.ui.form').form({
          on: 'blur',
          fields: {
            videoURL: {
              identifier  : 'videoURL',
              rules: [
                {
                  type   : 'url',
                  prompt : 'Please enter a video URL'
                }
              ]
            },
            videoDesc: {
              identifier  : 'videoDesc',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter a video description'
                }
              ]
            },
          }
        });  

      })

        
  </script>

  </head>

  <body style="background-color: #ede9e4;">
      <div class="ui text container">
        <br>  
        <!-- L I S T   o f   V I D E O S -->
        <h3>List of videos</h3>    
        <table class="ui celled table selectable" id="videosTable">
          <thead class="full-width">
            <tr>
              <th class="center aligned collapsing">ID</th>  <th class=" center aligned" >Description</th>   <th class=" right aligned collapsing">Number of questions</th>
            </tr>
          </thead>
          <tfoot class="full-width">
            <tr>
              <th colspan="3">                
                <button class="ui button" id="buttonUpdateVideotable">Update List</button>
              </th>
            </tr>
            <tr>
              <th colspan="3">
                <!-- A D D   N E W   V I D E O -->
                <form class="ui form" onsubmit="return false">
                  <div class="field">
                    <label>URL</label>
                    <input name="videoURL" type="text" placeholder="Video URL" id="newVideoURL" onfocus="this.value=''">
                  </div>
                  <div class="field">
                    <label>Description</label>
                    <input name="videoDesc" type="text" placeholder="Video Description" id="newVideoDescription" onfocus="this.value=''">
                  </div>
                  <div class="ui submit button" type="button" id="buttonAddVideo">Add New Video</div>
                  <div class="ui error message"></div>
                </form>
              </th>
            </tr>
          </tfoot>
          <tbody></tbody>        
        </table>
    </div>
    <br>
  </body>

</html>