<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script  src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
    <script src="http://vjs.zencdn.net/7.8.4/video.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-youtube/2.6.1/Youtube.min.js"></script>

    <script>
      
      // a simple function only to print the video description in the header of the page
      function printVideoDescription(){          
        var videoID = '{{videoID}}'
        $.ajax({
          url: '/API/videos/'+videoID+'/',
          type: "GET",
          dataType: "json",
          success: function (data) {
            console.log(data);
            var div = document.getElementById('description_hd');              
            description_header = "<h1>"+data['description']+"</h1>"
            div.innerHTML += description_header
          }
        })
      }      

      // a function to get all questions and to update the table containing all questions about the video
      function updateQuestionstable(){        
        var videoID = '{{videoID}}'
        $.ajax({
          url: '/API/questions/'+videoID+'/',
          type: "GET",
          dataType: "json",
          success: function (data) {
            console.log(data);                
            questions = data['questions']
            $('#questionsTable > tbody:last-child').empty()
            questions.forEach(q => {
              console.log(q["time"]+" "+q["question"])
              question = q['question_id']
              $('#questionsTable > tbody:last-child').
                  append('<tr><td class="left aligned collapsing">'+ q["time"]+'</td><td class="center aligned">' +q["question"] + '</td> <td class="center aligned collapsing selectable"><button class="ui button" id="buttonQDetails" onclick="getQuestion(questions[this.parentNode.parentNode.rowIndex-1])">Details</button></td></tr>');
            });
          }
        }); 
      }

      // a function to get all answers and to update the table containing all answers about the question
      function updateAnswerstable(question_id){      
        var videoID = '{{videoID}}'  
        console.log('On update answers table, the focused question id: '+question_id)
        $.ajax({
          url: '/API/questions/'+videoID+'/',
          type: "GET",
          dataType: "json",
          success: function (data) {
            let questions = data['questions']
            console.log(questions)
            
            for (var q in questions) {
              console.log(q)
              if(questions[q]['question_id'] == question_id) {
                break;
              }
            }
            var question = questions[q]
            console.log('And the corresponding question: '+question['question'])
            
            $('#listAnswersTitle').empty()
            $('#listAnswersTitle').append('<h4>Question: '+question['question']+'<br>Time: '+question['time']+'<br>User: '+question['user']+'</h4>'+'<h3>List of Answers</h3>')
          }
        }); 
        $.ajax({
          url: '/API/questions/'+videoID+'/'+question_id+'/',
          type: "GET",
          dataType: "json",
          success: function (data) {
            console.log(data)
            answers = data['answers']
            // $('#listAnswersTitle').empty()
            // $('#listAnswersTitle').append('<h4>Question: '+question['question']+'<br>Time: '+question['time']+'<br>User: '+question['user']+'</h4>')
            $('#answersTable > tbody:last-child').empty()
            answers.forEach(a => {
              $('#answersTable > tbody:last-child').
                  append('<tr><td class="center aligned collapsing">'+ a["user_id"]+'</td><td class="center aligned collapsing">'+ a["user_name"]+'</td><td class="center aligned">'+ a["answer"]+'</td></tr>');
            });  
          }
        }); 
      }

      //to add a new question
      function addNewQuestion(question, user, time, video_id){
        let requestData={"question": question, "user": user, "time": time, "video_id": video_id}
        $.ajax({
          url: '/API/questions/'+video_id+'/',
          type: "POST",
          dataType: "json",
          contentType: 'application/json',
          data: JSON.stringify(requestData),
          success: function(data){
            console.log("response for question creation"+data)
            console.log(data)
            updateQuestionstable()
          }
        });   
        $.ajax({  
          url: '/API/users/'+'{{username}}'+'/nquestions/',
          type: "PUT",
          dataType: "json",
          contentType: 'application/json',
          data: JSON.stringify(requestData),
          success: function(data){
            console.log("response for video creation "+data)
            console.log(data)
          }
        });         
      }

      //to add a new answer
      function addNewAnswer(answer, user_id, user_name, question_id){
        var videoID = '{{videoID}}'  
        let requestData={"answer": answer, "user_id": user_id, "user_name": user_name, "question_id": question_id}
        $.ajax({
          url: '/API/questions/'+videoID+'/'+question_id+'/',
          type: "POST",
          dataType: "json",
          contentType: 'application/json',
          data: JSON.stringify(requestData),
          success: function(data){
            console.log("response for answer creation"+data)
            console.log(data)
            updateAnswerstable(question_id)
          }
        });        
        $.ajax({  
          url: '/API/users/'+'{{username}}'+'/nanswers/',
          type: "PUT",
          dataType: "json",
          contentType: 'application/json',
          data: JSON.stringify(requestData),
          success: function(data){
            console.log("response for video creation "+data)
            console.log(data)
          }
        });   
      }
        
      // to get question when button Details is pressed
      function getQuestion(question){
        $("#listAnswersTitle").show(); 
        $("#answersTable").show(); 
        $("#newAnswerForm").show();
        console.log(question['question'])
        question_id = question['question_id']
        updateAnswerstable(question_id);
      }

      $(document).ready(function(){
        
        var vPlayer = videojs('videoPlayer');    
        var notPlayedyet;

        printVideoDescription(); // print video header
        updateQuestionstable(); // update questions table 
       
        $("#buttonNewQuestion").hide();
        $("#newQuestionForm").hide(); // by default the page hides the new question form  
        $("#listAnswersTitle").hide(); // by default the page hides the list of answrs title  
        $("#answersTable").hide(); // by default the page hides the list of answers
        $("#newAnswerForm").hide(); // by default the page hides the new answer form            

        // to show new question form
        // vPlayer.on("pause", function () {
        //   $("#newQuestionForm")[0].reset(); // reset previous values
        //   $("#newQuestionForm").show(); 
        // });

        // to hide new question form
        vPlayer.on("play", function () {
          $("#buttonNewQuestion").show();
          $("#newQuestionForm").hide(); 
          $("#listAnswersTitle").hide(); 
          $("#answersTable").hide();
          $("#newAnswerForm").hide();     
        });

        // when the user wants to add a new question
        $("#buttonNewQuestion").click(function(){       
          // automatically pauses the video
          vPlayer.pause()
          var pauseTime = vPlayer.currentTime()
          console.log(pauseTime)
          $("#resumetime").val(pauseTime)  
          
          // to show new question form
          $("#newQuestionForm")[0].reset(); // reset previous values
          $("#newQuestionForm").show(); 
        })  

        // when a new question is added
        $("#buttonAddQuestion").click(function(){
          newQuestion = $("#newQuestion").val()
          newTime = $("#resumetime").val()
          user = '{{username}}' // only goes ist id!
          videoID = '{{videoID}}'
           // if there is input in the fields
          if (newQuestion.trim()!=""){
            addNewQuestion(newQuestion, user, newTime, videoID)
            // automatically resumes the video
            vPlayer.currentTime( parseFloat($("#resumetime").val()))
            vPlayer.play()
          }
          
 
        })

        // when a new answer is added
        $("#buttonAddAnswer").click(function(){
          newAnswer = $("#newAnswer").val()
          user_id = '{{username}}'
          user_name = '{{name}}'
          // if there is input in the fields
          if (newAnswer.trim()!=""){            
            addNewAnswer(newAnswer, user_id, user_name, question_id)
          }
        })

        // to pause the video with the button with id buttonVideoPause
        $("#buttonVideoPause").click(function(){
          vPlayer.pause()
          var pauseTime = vPlayer.currentTime()
          console.log(pauseTime)
          $("#resumetime").val(pauseTime)       
        })

        // to play the video with button with id buttonPlayVideo
        $("#buttonPlayVideo").click(function(){

          // Playing for the first time when the page is accessed and also incrementing the number of views
          if (notPlayedyet != 1) {
            var videoID = '{{videoID}}'
            $.ajax({            
              // retrieve the corresponding URL by 
              // calling the /videos/<id>/ REST endpoint)
              url: '/API/videos/'+videoID+'/',
              type: "GET",
              dataType: "json",
              success: function (data) {
                console.log(data)
                url = data['url']
                console.log(url)
                //TODO 8 - update the player with the url retrieved
                vPlayer.src({ "type": "video/youtube", "src": url});
                vPlayer.play()
                
                $.ajax({
                  //TODO 9 - increase the number of views
                  url: '/API/videos/'+videoID+'/views',
                  type: "PUT",
                  dataType: "json",
                  success: function (data) {
                    console.log(data)
                  }
                })                          
              }
            });
            $.ajax({  
              url: '/API/users/'+'{{username}}'+'/videoViews/',
              type: "PUT",
              dataType: "json",
              contentType: 'application/json',
              data: JSON.stringify(requestData),
              success: function(data){
                console.log("response for video creation "+data)
                console.log(data)
              }
            });
            notPlayedyet = 1;
          }       
          // to resume the video
          else {            
            vPlayer.currentTime( parseFloat($("#resumetime").val()))
            vPlayer.play()
          }

          console.log(notPlayedyet)
        })

        // dúvida: por que é que esta função não funciona quando se quer carregar no botão? (tive que adicionar onclick="getQuestion()")
        // get the details about the question
        // $("#buttonQDetails").click(function() {
        //   console.log('hereee')
        //   $.ajax({            
        //     // retrieve the corresponding URL by 
        //     // calling the /questions/<question_id>/ REST endpoint)
        //     url: '/API/questions/'+question_id+'/',
        //     type: "GET",
        //     dataType: "json",
        //     success: function (data) {
        //       console.log(data)
        //       url = data['url']
        //       console.log(url)
                                      
        //     }
        //   });
        // })

        $('#newQuestionForm').form({
          on: 'blur',
          fields: {
            question: {
              identifier  : 'question',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter a question'
                }
              ]
            },
          }
        });

        $('#newAnswerForm').form({
          on: 'blur',
          fields: {
            answer: {
              identifier  : 'answer',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter an answer'
                }
              ]
            },
          }
        });  


      });

    </script>  
  </head>
  <title>Video APP</title>
  <body>
    <div class="ui vertical masthead center aligned">
      <div class="ui container">
        <div class="ui large secondary pointing menu">
          <a href="{{ url_for("regular.regular_page") }}" class="active item">Back</a>
          <a href="{{ url_for("home_page") }}" class=" item">Home</a>
          <div class="right menu">
            <p class="item">Welcome {{name.split()[0]}}!</p>
            <a href="{{ url_for("logout") }}" class="item">Logout</a>
          </div>           
        </div>
      </div>  
    </div>

    <div class="ui container">
      <div class="ui vertical stripe segment">
        <div class="ui equal width stackable internally celled grid">
          <div class="column">
            <!-- V I D E O -->
            <br>
            <div id=description_hd></div>
            <br>
            <video  id="videoPlayer" controls 
                    class="video-js vjs-default-skin"
                    width="530"
                    data-setup='{ "autoplay": true, "preload": "auto", "techOrder": ["youtube"], "sources": [{ "type": "video/youtube" }'
            ></video>
            <br>
            <button class="ui button" id="buttonPlayVideo">Play</button>
            <button class="ui button" id="buttonVideoPause">Pause</button> 
            <div class="ui input focus" >
              <input type="text" id="resumetime">
            </div>
          </div>
          <div class="column">
            <br>
            <!-- Q U E S T I O N S  &  A N S W E R S -->
            <h3>List of questions</h3>
            <table class="ui celled table" id="questionsTable" >
              <thead class="full-width">
                <tr>
                  <th class="center aligned collapsing">Time</th><th class="center aligned">Question</th><th></th>
                </tr>
              </thead>
              <tfoot class="full-width">
                <tr>
                  <th colspan="3">                    
                    <button class="ui small button" id="buttonNewQuestion">New Question</button> 
                  </th>
                </tr>
                <tr>
                  <th colspan="3">
                    <!-- <form id="newQuestionForm">
                      <div class="ui input">
                        <input type="text" placeholder="Question" id="newQuestion" >     
                      </div>  
                      <button class="ui right floated small icon button" id="buttonAddQuestion" type="button">Add new question</button>
                    </form>  -->
                    
                    <form class="ui form" id="newQuestionForm" onsubmit="return false">
                      <div class="field">
                        <label>Question</label>
                        <input name="question" type="text" placeholder="Question" id="newQuestion">
                      </div>
                      <div class="ui submit button" type="button" id="buttonAddQuestion">Add New Question</div>
                      <div class="ui error message"></div>
                    </form>
                  </th>
                </tr>
              </tfoot>
              <tbody>
              </tbody>      
            </table>
            
            <div id="listAnswersTitle"></div>
            <table class="ui celled table" id="answersTable" >
              <thead>
                <tr>
                  <th class="center aligned collapsing">User</th><th class="center aligned collapsing">Name</th><th class="center aligned">Answer</th>
                </tr>
              </thead>
              <tfoot class="full-width">
                <tr>
                  <th colspan="3">
                    <!-- <form id="newAnswerForm">
                      <div class="ui input">
                        <input type="text" placeholder="Answer" id="newAnswer">
                      </div>
                      <button class="ui right floated small icon button" id="buttonAddAnswer" type="button">Add new answer</button>     
                    </form>  -->

                    <form class="ui form" id="newAnswerForm" onsubmit="return false">
                      <div class="field">
                        <label>Answer</label>
                        <input name="answer" type="text" placeholder="Answer" id="newAnswer">
                      </div>
                      <div class="ui submit button" type="button" id="buttonAddAnswer">Add New Answer</div>
                      <div class="ui error message"></div>
                    </form>
                  </th>
                </tr>
              </tfoot>
              <tbody>
              </tbody>      
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>