<!-- -------------------------------------------------------------------------------------
#                   Architectures and Internet Systems Project 2020/2021
#
#                 Developed by Pedro Martin (87094) & Xavier Dias (87136)
-------------------------------------------------------------------------------------- -->

<!doctype html>
<title>Video APP</title>
<body style="background-color: #ede9e4;">
  <div class="ui vertical masthead center aligned">
    <div class="ui container">
      <div class="ui large secondary pointing menu">
        <a href="{{ url_for("home_page") }}" class=" item">Back</a>
        <a id="admin_option" href="{{ url_for("admin.admin_page") }}" class="active item">Private page of the site</a>
        <div class="right menu">
          <p class="item">Welcome {{name.split()[0]}}!</p>
          <a href="{{ url_for("logout") }}" class="item">Logout</a>
        </div>           
      </div>
    </div>  
  </div>
  {% include 'admin_videoListPage.html' %}
</body>
