
<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script  src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>

      function getVideoViews(videoID){
        $.ajax({
          url: '/API/videos/'+videoID+'/',
          type: "GET",
          dataType: "json",
          success: function (data) {
            console.log(data)
            $("#nviews"+videoID).html(data['views'])
            console.log("update the number of views on the table for"+videoID)
          },
        })
      }

      function getVideoQandas(videoID){
        $.ajax({
          url: '/API/questions/'+videoID+'/',
          type: "GET",
          dataType: "json",
          success: function (data) {
            console.log(Object.keys(data['questions']).length)
            console.log(data['questions'])
            $("#nqandas"+videoID).html(Object.keys(data['questions']).length)
            console.log("update the number of qandas on the table for"+videoID)
          },
        })
      }

      function updateVideostable(){
        $.ajax({
          url: '/API/videos/',
          type: "GET",
          dataType: "json",
          success: function (data) {
            console.log(data);
            $('#videosTable > tbody:last-child').empty()
            data["videos"].forEach(v => {
                console.log(v["video_id"]+" "+v["description"])
                var my_id = v["video_id"]
                var my_url = "{{ url_for('admin.video_page') }}/#id#".replace('#id#', my_id)
                $('#videosTable > tbody:last-child').
                    append('<tr> <td class="selectable"><a href="#url#"'.
                          replace("#url#", my_url)+'>'+ v["video_id"]+'</a></td><td class="selectable"><a href="#url#"'.
                          replace("#url#", my_url)+'>'+ v["description"]+'</a></td><td id="nqandas'+v["video_id"]+'">xxx</td></tr>');
                      getVideoQandas(v["video_id"])
            });
          }
        });
      }
      function addNewVideo(url, description){
        // look at the server to understand what data should be sent.
        let requestData={"description": description, 'url': url}
        $.ajax({
            url: '/API/videos/',
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(requestData),
            success: function(data){
              console.log("response for video creation "+data)
              console.log(data)
              updateVideostable()
            }
        });
        
        console.log('{{username}}')
        $.ajax({  
            url: '/API/users/'+'{{username}}'+'/videosRegistred/',
            type: "PUT",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(requestData),
            success: function(data){
              console.log("response for video creation "+data)
              console.log(data)
            }
        });
      }
      $(document).ready(function(){
        updateVideostable()
        $("#buttonUpdateVideotable").click(
          // to update the table when clicked
          function(){
            updateVideostable()
          }
        )            
        
        $("#buttonAddVideo").click(function(){
          newVideoURl = $("#newVideoURL").val()
          newVideoDESC = $("#newVideoDescription").val()
          addNewVideo(newVideoURl, newVideoDESC)
        })

      });
  </script>

</head>
<body>
  <h3>List of videos</h3>
  <table class="ui celled table selectable" id="videosTable" style="width:50%">
    <thead>
      <tr>
        <th>ID</th>  <th>Description</th>   <th>Q&A</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <button class="ui button" id="buttonUpdateVideotable">
    Update List
  </button>

  <h3>Add a new Video</h3>
  <div class="ui input">
      <input type="text" placeholder="Video URL" id="newVideoURL" required>
  </div>
  <div class="ui input">
    <input type="text" placeholder="Video Description" id="newVideoDescription">
  </div>
  <button class="ui button" id="buttonAddVideo">
    Add new Video
  </button>
    <br>
    <br>
    <a href="{{ url_for("admin.user_statistics") }}" class="item">User Statistics</a>
    
  </body>

  <title>{% block title %}{% endblock %} - Flask</title>





</html>