<!-- -------------------------------------------------------------------------------------
#                   Architectures and Internet Systems Project 2020/2021
#
#                 Developed by Pedro Martin (87094) & Xavier Dias (87136)
-------------------------------------------------------------------------------------- -->

<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script  src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  
  </head>
  
    <title>LOGS PAGE</title>
    <body style="background-color: #ede9e4;">
      <div class="ui vertical masthead center aligned">
        <div class="ui container">
          <div class="ui large secondary pointing menu">
            <a href="{{ url_for("admin.admin_page") }}" class="item">Back</a>
            <a href="{{ url_for("home_page") }}" class=" item">Home</a>
            <div class="right menu">
              <p class="item">Welcome {{name.split()[0]}}!</p>
              <a href="{{ url_for("logout") }}" class="item">Logout</a>
            </div>           
          </div>
        </div>  
      </div>

      <div class="ui container">
        <br>
        <h3>Logs List</h3>
        <br>
        <div style="height:400px;width:1200px;border:1px;overflow:auto;">
          <span style="white-space: pre-wrap; font-family: monospace;">{{logs}}</span> 
        </div>
      </div>
    </body>
  </head>
</html>