<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script  src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
    <script src="http://vjs.zencdn.net/7.8.4/video.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-youtube/2.6.1/Youtube.min.js"></script>

    <script>

      
      
      // a function to get the users and render them into a table
      function getUsersList() {
        $.ajax({
          url: '/API/users/',
          type: "GET",
          dataType: "json",
          success: function (data) {
            console.log(data)
            users = data["users"]
            console.log('Users got: '+ users)

            $('#usersTable > tbody:last-child').empty()
            users.forEach(usr => {
              $('#usersTable > tbody:last-child').
              append('<tr><td>'+ usr["name"]+'</td><td>' +usr["user_id"] + '</td> <td><button class="ui button" id="buttonQDetails" onclick="getUserStatistics(users[this.parentNode.parentNode.rowIndex-1])">Details</button></td></tr>');
            });
          },
        })
      }

      // to get all information about a single user
      function getUserStatistics(user){
        $("#listStatistics").show(); 
        console.log(user['name'])

        $.ajax({
          url: '/API/users/'+user['user_id']+'/',
          type: "GET",
          dataType: "json",
          success: function (data) {
            console.log(data)
              // empty canvas
              var canvas = document.getElementById('myCanvas');
              var ctx = canvas.getContext('2d');
              ctx.clearRect(0, 0, canvas.width, canvas.height);

              //display chart
              var canvas = document.getElementById('myCanvas');
              var ctx = canvas.getContext('2d')
              ctx.font = '15px helvetica';

              k = 20; // unit length of the bars width
              delta_x = 60; // distance between bars
              width = 50; // bar width


              
              // VIDEOS REGISTERED
              ctx.fillStyle = '#004980'; 
              var h = k*data['video_registrations'];
              ctx.fillRect(0,0*delta_x,h,width);
              ctx.fillStyle = '#424242';
              ctx.fillText('Number of video registered ('+data['video_registrations']+')',h+10,0*delta_x+30);

              // VIDEOS VISUALIZED
              ctx.fillStyle = '#004980'; 
              var h = k*data['nviews'];
              ctx.fillRect(0,1*delta_x,h,width);
              ctx.fillStyle = '#424242';
              ctx.fillText('Number of video visualized ('+data['nviews']+')',h+10,1*delta_x+30);

              // QUESTIONS ASKED
              ctx.fillStyle = '#004980'; 
              var h = k*data['nquestions'];
              ctx.fillRect(0,2*delta_x,h,width);
              ctx.fillStyle = '#424242';
              ctx.fillText('Number of questions made ('+data['nquestions']+')',h+10,2*delta_x+30);

              // QUESTIONS REPLIED
              ctx.fillStyle = '#004980'; 
              var h = k*data['nanswers'];
              ctx.fillRect(0,3*delta_x,h,width);
              ctx.fillStyle = '#424242';
              ctx.fillText('Number of answers made ('+data['nanswers']+')',h+10,3*delta_x+30);
          },
        })
      }
      

      $(document).ready(function(){
        $("#listStatistics").hide();
        getUsersList()
        
      });

    </script>
  </head>




    <title>STATISTICS PAGE</title>
    <body style="background-color: #ede9e4;">
      <div class="ui vertical masthead center aligned">
        <div class="ui container">
          <div class="ui large secondary pointing menu">
            <a href="{{ url_for("admin.admin_page") }}" class="item">Back</a>
            <a href="{{ url_for("home_page") }}" class=" item">Home</a>
            <div class="right menu">
              <p class="item">Welcome {{name.split()[0]}}!</p>
              <a href="{{ url_for("logout") }}" class="item">Logout</a>
            </div>           
          </div>
        </div>  
      </div>

      <div class="ui container">
      <br>
      <h3>Select a User from the table</h3>

      <h3>List of Users</h3>
    <table class="ui celled table selectable" id="usersTable" style="width:50%">
      <thead>
        <tr>
          <th>User Name</th>  <th>User ID</th><th width="20%"></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div id=listStatistics></div>
    
    <br>
    <br>
    <canvas id="myCanvas" width="1500" height="400">
    </canvas>
    </div>
    </body>
  </head>
</html>