
<!DOCTYPE html>


<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script  src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
    <script src="http://vjs.zencdn.net/7.8.4/video.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-youtube/2.6.1/Youtube.min.js"></script>
    <script>

        function getVideoViews(videoID){
          $.ajax({
            url: '/API/videos/'+videoID+'/',
            type: "GET",
            dataType: "json",
            success: function (data) {
              console.log(data)
              $("#nviews"+videoID).html(data['views'])
              console.log("update the number of views on the table for"+videoID)
            },
          })
        }
        function updateVideostable(){
            $.ajax({
                url: '/API/videos/',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    $('#videosTable > tbody:last-child').empty()
                    data["videos"].forEach(v => {
                        console.log(v["video_id"]+" "+v["description"])
                        $('#videosTable > tbody:last-child').
                            append('<tr> <td><a href=videoPage>'+ v["video_id"]+'</a></td><td>' +v["description"] + '</td><td id="nviews'+v["video_id"]+'">xxx</td></tr>');
                          getVideoViews(v["video_id"])
                        // TODO  10 - Fill the column with the number of views of each video
                    });
                }
            });
        }
        function addNewVideo(url, description){
            // TODO 4 - create an object (requestData) that contains the url and descrition
            // look at the server to understand what data should be sent.
            let requestData={"description": description, 'url': url}
            $.ajax({
                url: '/API/videos/',
                type: "POST",
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify(requestData),
                success: function(data){
                   //TODO 5 after creating the video update the table
                  console.log("resppnse for video creation"+data)
                  console.log(data)
                  updateVideostable()
                }
            });
        }
        $(document).ready(function(){
          updateVideostable()
          $("#buttonUpdateVideotable").click(
            // to update the table when clicked
            function(){
              updateVideostable()
            }
          )            
          
            $("#buttonAddVideo").click(function(){
              newVideoURl = $("#newVideoURL").val()
              newVideoDESC = $("#newVideoDescription").val()
              addNewVideo(newVideoURl, newVideoDESC)
                //TODO 3 - get the values of #newVideoURL and newVideoDescription
                // and pass those values to the addNewVideo function

            })

            var vPlayer = videojs('videoPlayer');

            $("#buttonVideoPause").click(function(){
                vPlayer.pause()
                var pauseTime = vPlayer.currentTime()
                console.log(pauseTime)
                $("#resumetime").val(pauseTime)

             })
            $("#buttonVideoResume").click(function(){
                vPlayer.currentTime( parseFloat($("#resumetime").val()))
                vPlayer.play()
            })


            $("#buttonPlayVideo").click(function(){
              videoID = $("#playVideoID").val()

                //TODO 6 - get the value of #playVideoID

                $.ajax({
                  //TODO 7 - retrieve the corresponding URL by 
                //        calling the /videos/<id>/ REST endpoint)
                  url: '/API/videos/'+videoID+'/',
                  type: "GET",
                  dataType: "json",
                  success: function (data) {
                    console.log(data)
                    url = data['url']
                    console.log(url)
                    //TODO 8 - update the player with the url retrieved
                    vPlayer.src({ "type": "video/youtube", "src": url});
                    vPlayer.play()

                    $.ajax({
                      //TODO 9 - increase the number of views
                      url: '/API/videos/'+videoID+'/views',
                      type: "PUT",
                      dataType: "json",
                      success: function (data) {
                        console.log(data)
                      }
                    })
                  }
                });
                
              



               // TODO 11 - update the table

            })

        });

    </script>

  </head>
  <body>
    <h3>List of videos</h3>
    <table class="ui celled table selectable" id="videosTable" >
      <thead>
        <tr>
          <th>ID</th>  <th>Description</th>   <th>Views</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <button class="ui button" id="buttonUpdateVideotable">
      Update List
    </button>

    <h3>Add a new Video</h3>
    <div class="ui input">
      <input type="text" placeholder="Video URL" id="newVideoURL">
    </div>
    <div class="ui input">
      <input type="text" placeholder="Video Description" id="newVideoDescription">
    </div>
    <button class="ui button" id="buttonAddVideo">
      Add new Video
    </button>


  </body>

  <title>{% block title %}{% endblock %} - Flask</title>


<a href="{{ url_for("logout") }}"> Logout</a>


</html>