<!doctype html>
<title>{% block title %}{% endblock %} - Flask</title>

{% if loggedIn %}
<p style="font-family:helvetica">User logged in</p>
<br>
<p style="font-family:helvetica">Select an option:</p>
<a href="{{ url_for("admin.admin_page") }}"> <p style="font-family:helvetica">Private part of the site (needs auth)</p></a>
<a href="{{ url_for("regular.regular_page") }}"> <p style="font-family:helvetica">List of Videos</p></a>
<br>
<a href="{{ url_for("logout") }}"> <p style="font-family:helvetica">Logout</p></a>


{% else %}
<a href="{{ url_for("fenix-example.login") }}">Login with OAuth</a>

{% endif %}