
<!DOCTYPE html>
<html>    
    <head>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css"  href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
        <script  src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">  </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>    
        <script>
            $(document).ready(function(){
                if ('{{userID}}' != '') {                  
                    addNewUser()   
                }

                $("#admin_option").hide(); 

                if (['ist187094', 'ist187136', 'ist14021'].includes('{{userID}}')){ //List of Admin Users
                    $("#admin_option").show();
                }

                function addNewUser(){            
                    var newUserID = '{{userID}}'
                    var newUserNAME = '{{userName}}'
                    let requestData={"id": newUserID, 'name': newUserNAME}
                    $.ajax({
                        url: '/API/users/',
                        type: "POST",
                        dataType: "json",
                        contentType: 'application/json',
                        data: JSON.stringify(requestData),
                        success: function(data){
                        console.log("response for user creation "+data)
                        console.log(data)
                        }
                    });
                }
            });
        </script>

        
        <title>{% block title %}{% endblock %} Video APP</title>
        <div class="ui vertical masthead center aligned segment">

            {% if loggedIn %}
                <div class="ui container">
                    <div class="ui large secondary pointing menu">
                        <a href="{{ url_for("home_page") }}" class="active item">Home</a>
                        <a href="{{ url_for("regular.regular_page") }}" class="item">List of videos</a>
                        <a id="admin_option" href="{{ url_for("admin.admin_page") }}" class="item">Private page of the site</a>
                        <div class="right menu">
                            <p class="item">Welcome {{userName.split()[0]}}!</p>
                            <a href="{{ url_for("logout") }}" class="item">Logout</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="ui text container">
                    <h1 class="ui header">
                    Imagine-a-Company
                    </h1>
                    <h2>Do whatever you want when you want to.</h2>
                </div>
            {% else %}
                <div class="ui text container">
                    <br>
                    <h1 class="ui header">This is our project!</h1>
                    <h2>Architectures and Internet Systems</h2>
                    <a href="{{ url_for("fenix-example.login") }}" class="ui huge primary button">Get started<i class="right arrow icon"></i></a>
                </div>

            {% endif %}      
        </div>
    </head>
</html>